*{
    padding: 0;
    margin: 0;
    /*background-color: #FFDFD3;*/
}
body{
    background-color: #E9DCC9;
}
#nav_link{
    position: absolute;
    top: 1px;
    left: 1px;
}

#navbar_nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#navbar_nav li{
    float: right;
}
#navbar_nav li a
{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 14pt;
    color: cornflowerblue;
    text-decoration: none;
    display: inline-block;
    padding:30px 30px;
    margin-top: -15px;
}