img{
    width:100%;
    height:35%;
}
aside{
    text-align:center;
    border: 3px solid black;
    margin:0.4%;
    width:24%;
    height:44%;
    float:left;
}
h1
{
    text-align: center;
    color: maroon;
    font-weight: bold;
    margin-bottom: 30px;
}
a:link
{
    color:black;
}